nav.nav-text {
    padding-bottom: 30px;
}

.nav-text ul li{
    color: #263A29;
    margin-left: 20px;
}


.nav-text ul li a{
    margin-left: 15px;
}

/* Ajustes menu responsive */
@media (max-width: 768px) {
    .nav-text ul li a{
        font-size: 18px;
        font-weight: 500;
        margin: 0;
        text-align: center;
    }

}