:root{
    --letter: #e9e9e9;
    --hover: #E86A33;
}


.menuItems ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItems ul li{
    list-style: none;
    margin: 0 5rem 3rem 0;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--letter);
}

.menuItems ul li a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.menuItems ul li:hover, .iconSectionF .icon:hover{
    background-color: transparent;
    color: var(--hover);
    border-bottom-color: var(--hover);
    transition: border-bottom 0.5s ease;
}

.iconSectionF .icon{
    color: var(--letter);
    margin-right: 15px;
}

.containerInfo{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 15px;
}