.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}
.main{
    background-color: #263A29;
    padding-top: 30px;
}
.text-recepy{
    text-align: center;
    font-size: 50px;
    color: #e9e9e9;
    margin-top: 0;
}
.search-bar {
    width: 40rem;
    height: 2rem;
    border: none;
    opacity: 1;
    display: block;
    margin: 0 auto;
    background-color: #344c37;
    color: #e9e9e9;
  }
.search-bar::placeholder {
    color: #e9e9e9;
  }

.indexContainer{
    white-space: nowrap; 
    display: flex;
    background-color: #1A5D1A; 
    width: 50rem;
    margin: 0; 
    color: #e9e9e9;
    margin-top: 1rem;
    margin-left: 18rem;
    margin-bottom: 50px;
}
.numText{
    padding-left: 20px; 
    font-size: 16px;
    cursor: pointer;
}